@import 'teutonic-css/teutonic.scss'

table.table
    td.reference-col, th.reference-col
        background-color: var(--color-warn-1)

    tr:nth-child(even)
        background-color: var(--color-prime-2)

        td.reference-col, th.reference-col
            background-color: var(--color-warn-2)
